<div class="text-center">
    <h1 class="text-4xl font-extrabold text-blue-600">
        {{pageTitle}}
    </h1>
    <p class="mt-4 text-lg text-gray-600">
        Um lugar para centralizar e expor os projetos dos alunos.
    </p>

    <div class="mt-8 flex justify-center items-center space-x-4">

        <a href="/projetos" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg text-lg transition duration-300">
            Ver Projetos
        </a>

        <a href="/login" class="bg-gray-700 hover:bg-gray-900 text-white font-bold py-3 px-6 rounded-lg text-lg transition duration-300">
            Fazer Login
        </a>
    </div>
</div>
